a {
    text-decoration: none;
}

.container--swippers {
    max-width: 1300px;
    /* height: 60vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 64px;
}

.box {
    max-width: 320px;
    height: 410px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    /* margin: 20px 10px; */
    margin: 20px auto;
}
.box p {
    justify-content: center;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: grey;
}

.box img {
    align-items: center;
    width: 200px;
    align-items: center;
    padding-top: 35px;
    align-self: center;
    margin-left: 50px;
    margin-bottom: 20px;
}
